body {
    background-image: url("charlesdeluvio-D-vDQMTfAAU-unsplash.jpg");
    background-size: cover;
}

h1 {
    color: rgb(255, 153, 0);
    text-align: center;
}

h2 {
    color: dodgerblue;
    font-weight: bolder;
    text-align: center;
}

.Logout {
    text-align: left;
}

.getRecipes {
    text-align: left;
}