input[type = text], input[type = password]{
    width: 99.75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type = text]:focus, input[type = password]:focus{
    outline: none;
    border: 2px solid black;
}

button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover{
    opacity: 1;
}

h1{
    text-align: center;
}

hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.cancel{
    padding: 14px 20px;
}

.cancel, .signup{
    float: left;
    width: 50%;
}

.contain{
    padding: 16px;
}

.home{
    padding: 14px 20px;
}

.suContent{
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 25%;
}

.clear::after{
    content: "";
    clear: both;
    display: table;
}